@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <div>
        <h2>Stay Updated</h2>
        <p>Get The Latest News on Your Favorite Books!</p>
    </div>
    <div class="btn-group m-1">
    <input class="bg-outline-primary" type="email" placeholder="Email"/>
    <button class="btn btn-dark" href ="mailto: haydenbruceanderson12@gmail.com" type="submit">Submit</button>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h5>Connect With Us</h5>
    <div class="">
        <a style="color:grey"><i class="bi bi-linkedin"></i></a>
        <a style="color:grey; margin-left:10px"><i class="bi bi-facebook"></i></a>
        <a style="color:grey; margin-left:10px"><i class="bi bi-telephone-fill"></i></a>
    </div>
</div>